/* Base styles */
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  color: #3c2915;
  text-align: center;
}

div {
  /* border: 0px solid black; */
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

#t1 {
  background-color: #DE9E6B;
  border: 1px solid black;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  height: 35px;
  width: 120px;
}

#p1 {
  background-color: #724113;
  /* width: 250px; */
  height: 150px;
  position: relative;
  text-align: justify;
  padding: 40px;
}

#p2 {
  background-color: #c25916;
  /* width: 250px; */
  height: 150px;
  position: relative;
  padding: 40px;
}

#p3 {
  background-color: #ecb978;
  /* width: 250px; */
  height: 150px;
  position: relative;
  padding: 40px;
}

/* Desktop / laptop */
@media (min-width: 992px) {
  #p1 {
    width: 30%;
    height: 30%;
    float: left;
  }
  #p2 {
    width: 30%;
    height: 30%;
    float: left;
  }
  #p3 {
    width: 30%;
    height: 30%;
    float: left;
  }
}


/* Tablet / mid */
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 45%;
    height: 45%;
    float: left;
  }
  #p2 {
    width: 45%;
    height: 45%;
    float: left;
  }
  #p3 {
    width: 93%;
    height: 45%;
    clear: both;
    float: left;
  }
  /* body {
    background-color: blue;
  }
} */


/********** Small devices only - smartphone **********/
@media (min-width: 992px) {
  #p1 {
    width: 100%;
    height: 100%;
    clear: both;
  }
  #p2 {
    width: 100%;
    clear: both;
    height: 100%;
  }
  #p3 {
    width: 100%;
    clear: both;
    height: 100%;
  }
}
